workflow/FileIntegrityCheckWorkflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "df559354-f8e6-47b2-83b5-1473eead6a7d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "cmd /c python \".\\watch_s_drive.py\" --root \"<SCAN_ROOT>\" --max-workers 6 --no-hash-new-files --latest-json \".\\reports\\latest.json\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "124bf51f-0630-491e-a27e-20f1ad60dd6f",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "jsCode": "const stdout = ($json.stdout || '').trim();\nconst stderr = ($json.stderr || '').trim();\nconst exitCode = $json.exitCode;\n\nfunction makeErrorReport(title, details) {\n  const lines = [];\n  lines.push(title);\n  lines.push(`Time (local): ${new Date().toISOString()}`);\n  lines.push(`Exit code: ${exitCode}`);\n  lines.push('');\n  lines.push('Details:');\n  lines.push(details);\n  lines.push('');\n  if (stderr) {\n    lines.push('stderr:');\n    lines.push(stderr.slice(0, 4000));\n  }\n  if (stdout) {\n    lines.push('');\n    lines.push('stdout (preview):');\n    lines.push(stdout.slice(0, 2000));\n  }\n  return lines.join('\\r\\n');\n}\n\nif (!stdout) {\n  const ops_report = makeErrorReport('ERROR: No stdout from Python run', 'The command produced no stdout output.');\n  const payload = { ok: false, exitCode, stderr, ops_report };\n  payload.full_json_text = JSON.stringify(payload, null, 2);\n  return [{ json: payload }];\n}\n\nlet data;\ntry {\n  data = JSON.parse(stdout);\n} catch (e) {\n  const ops_report = makeErrorReport('ERROR: Failed to parse JSON from stdout', String(e));\n  const payload = { ok: false, exitCode, stderr, parseError: String(e), ops_report };\n  payload.full_json_text = JSON.stringify(payload, null, 2);\n  return [{ json: payload }];\n}\n\n// success path: build report\nconst high = data.stats?.high ?? 0;\nconst events = Array.isArray(data.events) ? data.events : [];\n\nconst lines = [];\nlines.push(`File Watch Run: ${data.run_id}`);\nlines.push(`Started (UTC): ${data.started_at_utc}`);\nlines.push(`Root: ${data.root}`);\nlines.push(`Scanned files: ${data.stats?.scanned_files ?? '?'}`);\nlines.push(`Hashed files: ${data.stats?.hashed_files ?? '?'}`);\nlines.push(`Events: ${data.stats?.events ?? 0} (high=${high}, medium=${data.stats?.medium ?? 0}, low=${data.stats?.low ?? 0})`);\nlines.push(`CSV: ${data.reports?.events_csv ?? ''}`);\nlines.push('');\n\nif (high > 0) {\n  lines.push('HIGH SEVERITY EVENTS (up to 50):');\n  events.filter(e => e.severity === 'high').slice(0, 50).forEach(e => {\n    lines.push(`- ${e.type}: ${e.path || e.old_path || ''}`);\n  });\n} else {\n  lines.push('No high severity events detected.');\n}\n\ndata.ok = true;\ndata.ops_report = lines.join('\\r\\n');\ndata.full_json_text = JSON.stringify(data, null, 2);\n\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "808a011e-84c1-4801-9436-8c4ed2869a71",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "17d7ebed-6246-4bfd-9f6c-7d0a04f49415",
              "leftValue": "={{$json.ok}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "2a39ea5d-444e-4153-9e2e-0466f19176b5",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=.\\reports\\errors\\error_{{$now.format('yyyy-MM-dd')}}.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1088,
        224
      ],
      "id": "97f0a286-e83f-46c9-be9e-911c7323b8e5",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "818b8cd6-5a44-4317-b63d-fb109deed115",
              "leftValue": "={{$json.stats.high}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -96
      ],
      "id": "c36fe6ae-6e5e-48f8-8984-aae42dcce825",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "ops_report",
        "options": {
          "fileName": "ALERT_latest.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1360,
        -112
      ],
      "id": "ae619e72-d959-4677-b7d6-11270733cc53",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=.\\reports\\alerts\\ALERT_latest_{{$now.format('yyyy-MM-dd')}}.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1552,
        -144
      ],
      "id": "487f502c-0250-4b3e-992d-c45a065fe59e",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "=run_{{$json.run_id}}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        -288
      ],
      "id": "bebe64bf-6742-4033-a010-a032093f0ab0",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=.\\reports\\archive\\run_{{$json.run_id}}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1264,
        -368
      ],
      "id": "a31da121-a67b-4142-9d86-79edbc003d23",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "ops_report",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        848,
        208
      ],
      "id": "19872bb5-d5a4-461b-87fd-e85fffcaa164",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "ops_report",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1360,
        64
      ],
      "id": "2a70886e-a6f7-458c-88f8-787621047d49",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": ".\\reports\\STATUS_latest.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1568,
        64
      ],
      "id": "e1bd58cb-13e8-458a-b153-262768eeec46",
      "name": "Read/Write Files from Disk3"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bffce87e-caa8-4679-9f28-e4feaae44527",
  "meta": {
    "instanceId": "4c84eae64b34edcf675619590bf6bfa89c9e2fb21bac04bad2704d2ac5152995"
  },
  "id": "LNhgdEftTMWTfot2",
  "tags": []
}